/* HTML */

html {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(170,229,197,1) 97%);
}

/* BODY */

h1 {
    text-align: center;
    font-weight: bold;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid slategray;
    border-radius: 5px;
}

ul li {
    text-align: center;
    list-style-type: none;
    font-size: 150%;
}

/* RECIPE PAGES */

.recimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid slategray;
    border-radius: 5px;
}

p {
    text-align: center;
}